{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

<section class="projet">
    <div class="container-fluid">

        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center py-2">Projets</h2>
            </div>
        </div>

        <div class="row">
            {% for projet in projets %}
            <div class="col-6 p-3">
                <div class="card">
                    <img class="card-img-top" src="./img/projets/{{ projet.image }}"
                        alt="Printscreen de site {{  projet.nomSite }}">
                    <div class="card-body">
                        <h5 class="card-title"><a>{{  projet.nomSite }} | {{  projet.outil }}</a></h5>
                        <p class="card-text">{{  projet.type }} - {{ projet.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row py-5">
            <div class="col-12 text-center">
                <a href="{{ path('projet')}}" class="btn btn-outline-dark">Voir toutes les projets</a>
            </div>
        </div>

</section>

<section class="competences">
    <div class="row py-5">
        <div class="col-12">
            <h2 class="text-center py-2">Compétences</h2>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 p-5">
                    <p class="font-weight-bold">Technologies</p>
                    {% for competence in competences %}
                    {% if  competence.type  == 'Technologies' %}
                    <ul>

                        <li>
                            <img src="./img/competences/{{ competence.picto }}" alt="{{  competence.nom }}"> -
                            {{competence.nom}}</li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4 p-5">
                    <p class="font-weight-bold">Frameworks / bibliothèques</p>

                    {% for competence in competences %}
                    {% if  competence.type  == 'Frameworks / bibliothèques' %}
                    <ul>
                        <li>
                            <img src="./img/competences/{{ competence.picto }}" alt="{{  competence.nom }}"> -
                            {{competence.nom}}
                        </li>
                    </ul>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="col-md-4 p-5">
                    <p class="font-weight-bold">CMS</p>

                    {% for competence in competences %}
                    {% if  competence.type  == 'CMS' %}
                    <ul>

                        <li>
                            <img src="./img/competences/{{ competence.picto }}" alt="{{  competence.nom }}"> -
                            {{competence.nom}}</li>
                    </ul>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
    <div class="row py-5">
    </div>
</section>
</div>

{% endblock %}




